@layout('layouts/default')
@section('content')


    @!component('core.components.slider',items=slider)
    @!component('core.components.news')
    @!component('core.components.albums')
    @!component('core.components.shows')
    @!component('core.components.playlist')

    @!component('core.components.featuredVideo')
    @!component('core.components.team')
    
    @!component('core.components.twitter')
    @endsection


