<!doctype html>

<html class="no-js" lang="">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- The above 3 meta tags *must* come first in the head -->

    <!-- SITE TITLE -->
    <title>Chile Tiene Metal</title>
    <meta name="description" content="Lo mejor del Metal Nacional" />
    <meta name="keywords" content="keyword1, keyword2" />
    <meta name="author" content="Musix" />

    <!-- twitter card starts from here, if you don't need remove this section -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@yourtwitterusername" />
    <meta name="twitter:creator" content="@yourtwitterusername" />
    <meta name="twitter:url" content="http://yourdomain.com" />
    <meta name="twitter:title" content="Your home page title, max 140 char" /> <!-- maximum 140 char -->
    <meta name="twitter:description" content="Your site description, maximum 140 char " /> <!-- maximum 140 char -->
    <meta name="twitter:image" content="/themes/web/assets/img/twittercardimg/twittercard-280-150.jpg" />  <!-- when you post this page url in twitter , this image will be shown -->
    <!-- twitter card ends from here -->

    <!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
    <meta property="og:title" content="Chile Tiene Metal" />
    <meta property="og:url" content="http://chiletienemetal.com" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Chile Tiene Metal" />
    <!--meta property="fb:admins" content="" /-->  <!-- use this if you have  -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/themes/web/assets/img/logo.png" /> <!-- when you post this page url in facebook , this image will be shown -->
    <!-- facebook open graph ends from here -->


    <!-- desktop bookmark -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- icons & favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="/themes/web/assets/img/favicon.ico" />  <!-- this icon shows in browser toolbar -->
    <link rel="icon" type="image/x-icon" href="/themes/web/assets/img/favicon.ico" /> <!-- this icon shows in browser toolbar -->
    <link rel="apple-touch-icon" sizes="57x57" href="/themes/web/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/themes/web/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/themes/web/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/themes/web/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/themes/web/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/themes/web/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/themes/web/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/themes/web/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/themes/web/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/themes/web/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/web/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/themes/web/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/web/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/themes/web/assets/img/favicon/manifest.json">

    <!-- BOOTSTRAP CSS -->
    <!-- bootstrap can be added from local or cdn, bellow line is for local, btw, there is js which is added in footer -->
    <link rel="stylesheet" href="/themes/web/assets/css/bootstrap.min.css" media="all" />
    <!-- to add bootstrap from cdn pls uncomment the bellow line -->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"-->

    <!-- FONT AWESOME CSS -->
    <!-- font awesome css library can be can be added from local or cdn, bellow line is for local -->
    <link rel="stylesheet" href="/themes/web/assets/css/font-awesome.min.css" media="all" />
    <!-- to add font awesome from cdn pls uncomment the bellow line -->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"-->

    <!-- loading google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800%7cOswald"/themes/web/>

    <!-- for animation effects animate.css -->
    <link rel="stylesheet" href="/themes/web/assets/vendor/animate/animate.css" media="all" />

    <!-- OWL SLIDER -->
    <link rel="stylesheet" href="/themes/web/assets/vendor/owlcarousel/owl.carousel.css" media="all"/themes/web/>
    <link rel="stylesheet" href="/themes/web/assets/vendor/owlcarousel/owl.theme.css" media="all" />

    <!-- mediaelement audio/video js style with playlist  -->
    <link rel="stylesheet" href="/themes/web/assets/vendor/mediaelement/mediaelementplayer.min.css" media="all" />
    <link rel="stylesheet" href="/themes/web/assets/vendor/mediaelement/playlist/mep-feature-playlist.css" media="all" />
    <!--link rel="stylesheet" href="/themes/web/assets/vendor/mediaelement/mejs-musicskin.css" media="all" -->

    <!-- MASTER  STYLESHEET  -->
    <link id="cbx-style" rel="stylesheet" href="/themes/web/assets/css/style-default.min.css?v=1.2" media="all" />
    @!section('pluginsCss')
    <!-- MODERNIZER CSS  -->
    <script src="/themes/web/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118976394-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-118976394-1');
    </script>


</head>


<body class="cbx-home">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="cbx-container">

<!-- ***  ADD YOUR SITE CONTENT HERE *** -->
    @!component('core.components.menu',{antl})
    @!section('content')




    <!--FOOTER-->
    <section>
        <div id="cbx-footer" class="cbx-footer">
            <div class="cbx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="copyright">
                                <p>Copyright © <a href="#">2018</a> • Chile Tiene Metal</p>
                            </div>
                        </div> <!--//.col-->
                    </div> <!--//.main row-->
                </div> <!--//.container-->
            </div> <!--//.cbx-inner-->
        </div> <!--//.cbx-header-->
    </section> <!--//.FOOTER END-->




<!-- //SITE CONTENT END -->

</div> <!--//SITE CONTAINER-->


<!-- *** ADD YOUR SITE SCRIPT HERE *** -->

<!-- JQUERY  -->
<!--script src="/themes/web//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/themes/web/assets/js/vendor/jquery-1.11.2.min.js"><\/script>')</script-->


<script src="/themes/web/assets/js/jquery.min.js"></script>


<!-- OWL SLIDER -->
<script src="/themes/web/assets/vendor/owlcarousel/owl.carousel.js"></script>

<!-- smooth scroll, click to top, click to target etc -->
<script src="/themes/web/assets/vendor/jquery.smooth-scroll.js"></script>

<!-- countdown -->
<script src="/themes/web/assets/vendor/kkcountdown.min.js"></script>


<!-- BOOTSTRAP JS  -->
<script src="/themes/web/assets/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified JavaScript from cdn, if you want to load from cdn uncomment the bellow line -->
<!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script-->

<!-- load if our contact form or email subscribe options is used -->
<script src="/themes/web/assets/js/validation/jquery.validate.js"></script>


<!-- FOR DEMO ONLY-->
<!-- comment this below line in production -->
<!--<script type="text/javascript" src="/themes/web/assets/switcher/js/switcher.js"></script>-->

<!-- if load google maps then load this api -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3TLfDeD7qstWuksr-dfze6_4YQTA4Q4Q"></script>

<!-- tweetie feed  -->
<script src="/themes/web/tweetie/tweetie.js"></script>

<!-- mediaelements audio/video js with playlist  -->
<script src="/themes/web/assets/vendor/mediaelement/mediaelement-and-player.min.js"></script>
<script src="/themes/web/assets/vendor/mediaelement/playlist/mep-feature-playlist.js"></script>



<!-- CUSTOM SCRIPT  -->
<script src="/themes/web/assets/js/custom.js"></script>
 @!section('scripts')
<script type="text/javascript">

    jQuery(document).ready(function($){
        //your custom js code here




    });

</script>

</body>
</html>
