<!doctype html>
<html class="no-js" lang="">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- The above 3 meta tags *must* come first in the head -->

    <!-- SITE TITLE -->
    <title>Musix</title>
    <meta name="description" content="Lo mejor del Metal Nacional" />
    <meta name="keywords" content="keyword1, keyword2" />
    <meta name="author" content="Musix" />

    <!-- twitter card starts from here, if you don't need remove this section -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@yourtwitterusername" />
    <meta name="twitter:creator" content="@yourtwitterusername" />
    <meta name="twitter:url" content="http://yourdomain.com" />
    <meta name="twitter:title" content="Your home page title, max 140 char" /> <!-- maximum 140 char -->
    <meta name="twitter:description" content="Your site description, maximum 140 char " /> <!-- maximum 140 char -->
    <meta name="twitter:image" content="/assets/img/twittercardimg/twittercard-280-150.jpg" />  <!-- when you post this page url in twitter , this image will be shown -->
    <!-- twitter card ends from here -->

    <!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
    <meta property="og:title" content="Chile Tiene Metal" />
    <meta property="og:url" content="http://chiletienemetal.com" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Chile Tiene Metal" />
    <!--meta property="fb:admins" content="" /-->  <!-- use this if you have  -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/assets/img/logo200x60.jpg" /> <!-- when you post this page url in facebook , this image will be shown -->
    <!-- facebook open graph ends from here -->


    <!-- desktop bookmark -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- icons & favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico" />  <!-- this icon shows in browser toolbar -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" /> <!-- this icon shows in browser toolbar -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/manifest.json">

    <!-- BOOTSTRAP CSS -->
    <!-- bootstrap can be added from local or cdn, bellow line is for local, btw, there is js which is added in footer -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" media="all" />
    <!-- to add bootstrap from cdn pls uncomment the bellow line -->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"-->

    <!-- FONT AWESOME CSS -->
    <!-- font awesome css library can be can be added from local or cdn, bellow line is for local -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" media="all" />
    <!-- to add font awesome from cdn pls uncomment the bellow line -->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"-->

    <!-- loading google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800%7cOswald"/>

    <!-- for animation effects animate.css -->
    <link rel="stylesheet" href="/assets/vendor/animate/animate.css" media="all" />

    <!-- OWL SLIDER -->
    <link rel="stylesheet" href="/assets/vendor/owlcarousel/owl.carousel.css" media="all"/>
    <link rel="stylesheet" href="/assets/vendor/owlcarousel/owl.theme.css" media="all" />

    <!-- mediaelement audio/video js style with playlist  -->
    <link rel="stylesheet" href="/assets/vendor/mediaelement/mediaelementplayer.min.css" media="all" />
    <link rel="stylesheet" href="/assets/vendor/mediaelement/playlist/mep-feature-playlist.css" media="all" />
    <!--link rel="stylesheet" href="/assets/vendor/mediaelement/mejs-musicskin.css" media="all" -->

    <!-- MASTER  STYLESHEET  -->
    <link id="cbx-style" rel="stylesheet" href="/assets/css/style-default.min.css?v=1.2" media="all" />
    @!section('pluginsCss')
    <!-- MODERNIZER CSS  -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118976394-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-118976394-1');
    </script>


</head>


<body class="cbx-home">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="cbx-container">

<!-- ***  ADD YOUR SITE CONTENT HERE *** -->
    <!--HEADER-->
    <header>
        <div id="cbx-header" class="cbx-header">
            <div class="container-fluid ">
                <div class="row">
                    <div id="sticker2" class="col-md-3 col-lg-4 cbx-top-left-col">
                        <div class="cbx-top-left">
                            <div class="cbx-top-left-inner">
                                <a class="main-logo" href="index.html"><img src="/assets/img/logo200x60.jpg" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-8 cbx-top-right-social pull-right">
                        <div class="cbx-top-right">
                            <div class="cbx-top-right-inner">
                                <div class="social-area">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.facebook.com/ChileTieneMetal/"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCiWURrPlDhY907PMbYx-Kuw"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sticker" class="col-md-9 col-lg-8 cbx-top-right-menu pull-right">
                        <div class="cbx-top-right">
                            <div class="cbx-top-right-inner cbx-header-menu">
                                <nav class="navbar navbar-default cbx-navbar" role="navigation">
                                    <div class="cbxcontainer">
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <div class="hidden-sm hidden-md hidden-lg cbx-search">
                                                <form  action="#" method="post">
                                                    <input class="search" name="search" type="text" placeholder="What're we looking for ?">
                                                    <a class="search_submit" href="#">
                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                    </a>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="collapse navbar-collapse">
                                            <ul class="nav navbar-nav cbx-nav">
                                                <li class="active"><a href="index.html">Home</a></li>
                                                <li>
                                                    <a href="album-listing.html" class="dropdown-toggle disabled" data-toggle="dropdown">Albums<b class="caret"></b></a>
                                                    <ul class="dropdown-menu multi-level">
                                                        <li><a href="album-single.html">First Album Title</a></li>
                                                        <li class="dropdown-submenu">
                                                            <a href="album-single.html" class="dropdown-toggle disabled" data-toggle="dropdown">Second Album Title</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="album-single.html">First Song Title</a></li>
                                                                <li><a href="album-single.html">Second Song Title</a></li>
                                                                <li><a href="album-single.html">Third Song Title</a></li>
                                                                <li><a href="album-single.html">Fourth Song Title</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a href="album-single.html" class="dropdown-toggle disabled" data-toggle="dropdown">Third Album Title</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="album-single.html">First Song Title</a></li>
                                                                <li><a href="album-single.html">Second Song Title</a></li>
                                                                <li><a href="album-single.html">Third Song Title</a></li>
                                                                <li><a href="album-single.html">Fourth Song Title</a></li>
                                                                <li class="dropdown-submenu">
                                                                    <a href="album-single.html" class="dropdown-toggle disabled" data-toggle="dropdown">Fourth Album Title</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a href="album-single.html">First Song Title</a></li>
                                                                        <li><a href="album-single.html">Second Song Title</a></li>
                                                                        <li><a href="album-single.html">Third Song Title</a></li>
                                                                        <li><a href="album-single.html">Fourth Song Title</a></li>
                                                                        <li><a href="album-single.html">Fifth Song Title</a></li>
                                                                        <li><a href="album-single.html">Fourth Song Title</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a href="album-single.html" class="dropdown-toggle disabled" data-toggle="dropdown">Fifth Album Title</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="album-single.html">First Song Title</a></li>
                                                                <li><a href="album-single.html">Second Song Title</a></li>
                                                                <li class="dropdown-submenu">
                                                                    <a href="album-single.html" class="dropdown-toggle disabled" data-toggle="dropdown">Third Song Title</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li class="dropdown-submenu">
                                                                            <a href="album-single.html" class="dropdown-toggle disabled" data-toggle="dropdown">Song Title</a>
                                                                            <ul class="dropdown-menu">
                                                                                <li><a href="album-single.html">Song Title</a></li>
                                                                                <li><a href="album-single.html">Song Title</a></li>
                                                                                <li><a href="album-single.html">Song Title</a></li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="event-listing.html" class="dropdown-toggle disabled" data-toggle="dropdown">Shows<b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="event-single.html">Upcoming Shows one</a></li>
                                                        <li><a href="event-single.html">Latest Upcoming Shows</a></li>
                                                        <li><a href="event-single.html">Trending Three</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="gotome" href="#cbx-songs">Musics</a></li>
                                                <li><a class="gotome" href="#cbx-members">Member</a></li>
                                                <li><a class="gotome" href="#cbx-blog">News</a></li>
                                                <li><a class="gotome" href="contact.html">Contact</a></li>
                                                <li class="cbx-search">
                                                    <form action="#" method="post">
                                                        <input class="search" name="search" type="text" placeholder="What're we looking for ?">
                                                        <a class="search_submit" href="#">
                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                        </a>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div><!--/.nav-collapse -->
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--//.cbx-header-->
    </header> <!--//.HEADER-->

    <!--HEADER-->
     @!section('content')




    <!--FOOTER-->
    <section>
        <div id="cbx-footer" class="cbx-footer">
            <div class="cbx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="copyright">
                                <p>Copyright © <a href="#">2018</a> • Chile Tiene Metal</p>
                            </div>
                        </div> <!--//.col-->
                    </div> <!--//.main row-->
                </div> <!--//.container-->
            </div> <!--//.cbx-inner-->
        </div> <!--//.cbx-header-->
    </section> <!--//.FOOTER END-->




<!-- //SITE CONTENT END -->

</div> <!--//SITE CONTAINER-->


<!-- *** ADD YOUR SITE SCRIPT HERE *** -->

<!-- JQUERY  -->
<!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.11.2.min.js"><\/script>')</script-->


<script src="/assets/js/jquery.min.js"></script>


<!-- OWL SLIDER -->
<script src="/assets/vendor/owlcarousel/owl.carousel.js"></script>

<!-- smooth scroll, click to top, click to target etc -->
<script src="/assets/vendor/jquery.smooth-scroll.js"></script>

<!-- countdown -->
<script src="/assets/vendor/kkcountdown.min.js"></script>


<!-- BOOTSTRAP JS  -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified JavaScript from cdn, if you want to load from cdn uncomment the bellow line -->
<!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script-->

<!-- load if our contact form or email subscribe options is used -->
<script src="/assets/js/validation/jquery.validate.js"></script>


<!-- FOR DEMO ONLY-->
<!-- comment this below line in production -->
<!--<script type="text/javascript" src="/assets/switcher/js/switcher.js"></script>-->

<!-- if load google maps then load this api -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3TLfDeD7qstWuksr-dfze6_4YQTA4Q4Q"></script>

<!-- tweetie feed  -->
<script src="tweetie/tweetie.js"></script>

<!-- mediaelements audio/video js with playlist  -->
<script src="/assets/vendor/mediaelement/mediaelement-and-player.min.js"></script>
<script src="/assets/vendor/mediaelement/playlist/mep-feature-playlist.js"></script>



<!-- CUSTOM SCRIPT  -->
<script src="/assets/js/custom.js"></script>
 @!section('scripts')
<script type="text/javascript">

    jQuery(document).ready(function($){
        //your custom js code here




    });

</script>

</body>
</html>
